# Hugo build output
/public/

# Hugo caches
/resources/
.hugo_build.lock

# Node stuff (themes, pipelines, assets)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store
Thumbs.db

# Editor junk
.vscode/
.idea/

# Temporary files
*.tmp
*.swp